<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for</title>
</head>

<body>

    <div id="watch-example">
        <ul>
            <li v-for="(xxx,i) in items">
                {{xxx.name}}------{{i}}
            </li>
        </ul>
        遍历对象：vki
        <p v-for="value,key,i in obj">

            <br> {{i}}---{{key}} : {{value}}
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>

        var watchExampleVM = new Vue({
            el: '#watch-example',
            data: {
                items: [
                    { name: 'a', age: 1 },
                    { name: 'b', age: 2 },
                    { name: 'c', age: 3 },
                ],
                obj: {
                    name: 'joe',
                    job: 'actor',
                    age: 18
                }

            },
            methods: {

            }

        })






    </script>
</body>

</html>