<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中划线和驼峰</title>
</head>
<div id="app">
    <!-- <my-comp myMsg="lalala"> </my-comp>  -->
    <my-comp my-msg="lalala"> </my-comp>

</div>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>

        /*
            1. html 中不会出现大写，所以组件名必须中划线,组件中的属性不能出现大写
            2. template中只能使用驼峰
            3. 组件的data中，使用this.xxx时，只能是驼峰
            4. props中，两者都可以
        */
        // Vue.component('myComp', {
        //Unknown custom element: <mycomp> 
        Vue.component('my-comp', {
            props: ['my-msg'],
            // props: ['myMsg'],

            template: `<div>{{myMsg}}----</div>`,
        });
        var app = new Vue({
            el: '#app',
            data: {

            }
        })
    </script>
</body>

</html>