<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件中使用v-model</title>
</head>
<div id="app">
    余额：{{total}}
    <child-comp v-model="total"></child-comp>
    <p>
        v-model做了两件事：
        <br> 1. v-bind 绑定了total
        <br> 2. 绑定了一个input事件
        <br> 3. 触发input事件，自动接收传过来的数据，赋值给已经绑定的total
    </p>

</div>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>
        /*
            1. 自定义事件
            2. 在子组件中用 $emit触发事件，第一个参数是事件名，后面的参数是需要传递的数据
            3. 在自定义事件中用一个参数来接受数据
        */
        Vue.component('child-comp', {
            template: `
            <div>
                <button @click="plus">+1000</button>
            </div>
            `,
            data: function () {
                return {
                    count: 2000
                }
            },
            methods: {
                plus: function () {
                    this.count = this.count + 1000;
                    this.$emit('input', this.count + 'sss')
                },

            }
        })

        var app = new Vue({
            el: '#app',
            data: {
                total: 2000,
            },

        });


    </script>
</body>

</html>